section{
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
input[type=text]{
    position: relative;
    display: block;
    margin: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    transition: all ease-in-out 0.2s;
}
input[type=text]:focus{
    border-bottom: 2px solid  transparent;
}
